PORT=3000
NODE_ENV=development

# MySQL
DB_HOST=localhost
DB_PORT=3306
DB_NAME=carpooling_db
DB_USER=root
DB_PASS=yourpassword

# MongoDB (hanya untuk titik kumpul/lokasi statis)
MONGO_URI=mongodb://localhost:27017/carpooling_nosql

# JWT
JWT_SECRET=ganti_ini_dengan_string_random
JWT_EXPIRES_IN=7d
